<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeerTutoringApp"
        tools:targetApi="31">
        <activity
            android:name=".StudentChatActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".MyTutorsActivity"
            android:exported="false" />
        <activity
            android:name=".FindTutorActivity"
            android:exported="false" />
        <activity
            android:name=".TutorChatActivity"
            android:exported="false" />
        <activity
            android:name=".MyStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".TutorDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_tutor_dashboard"
            android:theme="@style/Theme.PeerTutoringApp.NoActionBar" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_student_dashboard"
            android:theme="@style/Theme.PeerTutoringApp.NoActionBar" />
        <activity
            android:name=".HomeDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".TutorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>